@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    cursor: none;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
    font-family: Belleza;
}

/* width */
  ::-webkit-scrollbar {
    width: 7px;
    display: none;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffffffc5;
    width: 3px;
    border-radius: 3px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
    width: 7px;
  }

ul.transition {
    display: flex;
    position: absolute;
    z-index: 18;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    pointer-events: none;
    list-style-type: none;
    padding: 0;
}
ul li {
    transform: scaleY(1);
    background-color: black;
    width: 33.33%;
}


.name-container{
    position: relative;
    background: url(../images/cover.png);
    background-size: 100%;
    background-position: 80% 55%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 21.9em;
    overflow: hidden;
}

.name{
    position: absolute;
    opacity: 1;
    overflow: hidden;
    bottom: -70px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    background: linear-gradient(to top, white 15%, rgba(255, 255, 255, 0) 90%);
}

.about-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: black;
}

.blackShade{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    top: 0;
    left: 0;
    z-index: 5;
}
.about{
    color: white;
    font-size: 18em;
    padding: 2%;
}

.head-text{
    font-size: 7em;
    font-family: Gloock;
    color: white;
    top: 0;
    left: 0;
    z-index: 50;
    display: flex;
    flex-direction: column;
}

.about-text{
    color: rgb(111, 111, 111);
    font-size: 2.2vw;
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    overflow-y: auto;
    font-family: fira code;
    text-align: left;
}

.highlight{
    color: white;
    font-size: 2.7vw;
}

.line{
    position: relative;
}
.line-mask{
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.7;
    width: 0%;
    z-index: 10;
    height: 100%;
}

.photography-container{
    position: relative;
    font-size: 17em;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: white;
}
.photography-container>span{
    font-family: Gloock;
}
.github-card{
    width: 50px;
    height: 50px;
    background-image: url("../images/graphics/github.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 0%;
}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 300;
    height: 50%;
    font-size: 1.5em;
}
.projectText{
    font-size: 20vw;
}

.photo-cards, #content{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.photo-card{
    background-position: center;
    background-size: cover;
    width: 800px;
    height: 500px;
    margin-right: .1em;
    border-radius: 5%;
    margin-bottom: 5%;
    position: relative;
    color: rgb(119, 255, 0);
    display: flex;
    align-items: flex-end;
    font-size: 50px;
    transition: 500ms;
}
.shade{
    background-image: linear-gradient(to right, black 20%, transparent 200%);
    opacity: 0.9;
    width: 100%;
    height: 100%;
    z-index: 15;
    position: absolute;
    border-radius: 30px;
    transition: 1s;
}
.photo-card:hover .shade{
    backdrop-filter: blur(10px);
    opacity: 1;
}

.photo{
    width: 800px;
    height: 500px;
    border-radius: 30px;
    transition: 1s;
}
.photo-card:hover .photo{
    scale: 0.98;
}

.description{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    z-index: 16;
    display: flex;
    flex-direction: column;
    padding: 5%;
    font-family: fira code;
}
.title{
    font-size: 2vw;
    margin-bottom: 2%;
}
.project-description{
    font-size: 1.3vw;
    opacity: 0.5;
    line-height: 1.5;
    margin-bottom: 4%;
}
.point{
    border-left: 1px solid white;
    padding-left: 2%;
}
.technologies{
    display: flex;
    flex-wrap: wrap;
}
.tech{
    padding: 0.3% 1%;
    background-color: rgba(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-right: 2%;
    margin-bottom: 2%;
    font-size: 1vw;
    border-radius: 5px;
    font-weight: 700;
}
.project-name{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 100px;
}
.link-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: white;
    backdrop-filter: blur(20px);
    font-size: 2em;
}
.photo-card:hover .link-container{
    opacity: 0.5;
}
.empty-div{
    margin-right: 80%;
}

.projects-container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/graphics/projects.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.projects-grid{
    position: absolute;
    width: 50%;
    left: 5%;
    bottom: 5%;
    display: grid;
    grid-template-rows: repeat(2, 300px);
    grid-template-columns: repeat(2, 300px);
    grid-gap: 10px;
}
.project{
    background-color: aquamarine;
}

.contact-container{
    z-index: -1000;
    width: 100vw;
    height: 32vw;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: sticky;
    bottom: 0;
    font-family: Gloock;
    background-image: url("../images/graphics/cropped2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}
#contact-text{
    font-size: 9vw;
}
.hyperlinks{
    display: flex;
    align-items: center;
    margin-right: 20%;
    position: fixed;
    bottom: 15vw;
    z-index: 20;
}
.hyperlink{
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-right: 10%;
    z-index: 20;
    background-color: white;
    display: block;
    object-fit: cover;
}
.hyperlink_img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.mail{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    right: 40%;
    top: 65%;
    z-index: 20;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mail>span{
    font-size: 30px;
    line-height: .1;
}


.gmail{
    position: fixed;
    top: 40%;
    right: 20%;
    z-index: 30;
    width: 20%;
    height: 60%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gmail>span{
    padding: 10px;
    background-color: black;
    border-radius: 50%;
    color: white;
}

.contact-blur{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    background-image: linear-gradient(to right, white 40%, transparent);
}
.contact-container>span{
    width: 50%;
    line-height: 0.9;
    padding: 5%;
    z-index: 20;
    position: fixed;
    z-index: 100;
    bottom: 0%;
    left: 0;
}

.gallery-show-container{
    width: 100vw;
    height: 150vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;    
    overflow: hidden;
}
.hobby{
    font-size: 7em;
    color: white;
    position: absolute;
    z-index: 15;
    top: 6%;
    left: 1%;
    font-family: Gloock;
}
.frame-container{
    width: 85%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

.frame-container:before {
    content: "";
    display: block;
    width: 2px;
    height: 70%;
    background: #ffffff;
    left: 0;
    top: 25%;
    position: absolute;
  }

.frame-container>iframe{
    width: 100%;
    height: 80%;
}

.gallery-container-bg{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.invert_circle{
    position: fixed;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    /* background-color: black; */
    bottom: -2vw;
    left: -13vw;
    z-index: 1000;
    backdrop-filter: invert(1);
    
}